.Dictionary {
  text-align: center;
}

.Dictionary input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  background: #f8dda7;
  border: 1px solid #f8dda7;
  border-radius: 8px;
  font-size: 20px;
  color: #1f2937;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.Dictionary .hint {
  font-size: 11px;
  margin: 5px 0 15px 0;
  color: #68c7c1;
}
